.wrapper
  .navbar.navbar_3
    .navbar_left
      .logo
        span Group 4
      ul(class="global menu")
        li(class="global")
          a(href='#', class="global" ) Home
        li(class="global") 
          a(href='#', class="global" ) About
        li(class="global") 
          a(href='#' , class="global")  Contact
        li(class="global") 
          a(href='#' , class="global") Services
        li(class="global") 
          a(href='#' , class="global") Profile
    .navbar_right
      ul(class="global")

        li(class="global") 
          a(href='#' , class="global") Sign Up

        li(class="global") 
          a(href='#' , class="global") Login
