*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12/16 = .75
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = .5625
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px, 8/16 = .5
    }
}

body {
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}


.global{
    display: block;
  list-style: none;
  text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
  
  .navbar{
  margin: 1rem;
  background: #fff;
  padding: 0 50px;
  border-radius: 3px;
  }
  
  
  ul.menu,
  ul.social_items{
  display: flex;
  }
  
  .navbar ul.menu a{
  margin: 0 5px;
  width: 120px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease;
  @include respond(tab-port) {
   width: auto;
}
  }
  
  .navbar .logo{
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 2px;
  }
  
  .navbar .logo span{
  color: #000000;
  }
  
  .navbar_1,
  .navbar_2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .navbar.navbar_1 ul.menu a:hover,
  .navbar.navbar_1 ul.menu a.active{
  background: #505978;
  color: #fff;
  border-radius: 3px;
  }
  
  .navbar.navbar_2 ul.menu a{
  border-radius: 25px;
  }
  
  .navbar.navbar_2 ul.menu a:hover,
  .navbar.navbar_2 ul.menu a.active{
  background: #505978;
  color: #fff;
  }
  
  .navbar.navbar_2 ul.social_items a{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 25px;
  transition: all 0.2 ease;
  }
  
  .navbar.navbar_2 ul.social_items a:hover{
  background: #505978;
  color: #fff;
  }
  
  .navbar_3,
  .navbar_4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
}
  }
  
  .navbar_3 .navbar_left,
  .navbar_4 .navbar_left,
  .navbar_right ul{
  display: flex;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
}
  }
  
  .navbar_3 .menu{
  margin-left: 25px;

  @include respond(tab-port) {
    margin-left: 1rem;
}
  }
  
  .navbar.navbar_3 .menu a{
  height: 60px;
  padding: 20px 12px;	
  }
  
  .navbar.navbar_3 .menu a:hover,
  .navbar.navbar_3 .menu a.active{
  border-bottom: 3px solid #505978;
  }
  
  .navbar_right ul li a{
  margin: 0 5px;
  border: 1px solid #505978;
  padding: 5px 20px;
  border-radius: 3px;
  transition: all 0.2s ease;
  }
  
  .navbar_right ul li a:hover{
  background: #505978;
  color: #fff;
  }
  
  .navbar.navbar_4 .menu a:hover,
  .navbar.navbar_4 .menu a.active{
  color: #7ddf96;
  }
  
  .search_box{
  position: relative;
  height: 35px;
  width: 225px;
  }
  
  .search_box input{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border: 1px solid #505978;
  width: 50px;
  height: 35px;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  padding-right: 30px;
  transition: all 0.2s ease;
  }
  
  .search_box i{
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;
  }
  
  .search_box input:focus{
  width: 225px;
  }
  
  
  .user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  
  }
  
  .user-message--error {
    border-color: #DC143C;
    background: rgb(255, 176, 176);
    color: #DC143C;
  }
  
  .dataMessage{
    text-align: center;
  }