script(src='/vendors/js/vendor.bundle.base.js')
script(src='/vendors/chart.js/Chart.min.js')
script(src='/vendors/datatables.net/jquery.dataTables.js')
script(src='/vendors/datatables.net-bs4/dataTables.bootstrap4.js')
script(src='/js/dataTables.select.min.js')
script(src='/js/off-canvas.js')
script(src='/js/hoverable-collapse.js')
script(src='/js/template.js')
script(src='/js/settings.js')
script(src='/js/todolist.js')
script(src='/js/dashboard.js')
script(src='/js/Chart.roundedBarCharts.js')