doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
  link(rel='stylesheet' href='css/style-2.css')
  title= pageTitle
  include ../../includes/navigation-bar.pug

main.main
 .card-container
   each vote in votes
    .card
      .card__header
        h3.heading-tertirary
          span= vote.title
      .card__details
        h4.card__sub-heading About
        p.card__text
            =vote.description
      .card__footer
        a.btn.btn--green.btn--small(href=`/votes/${vote._id}`) Details