doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')  
  title= pageTitle
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
  include ../../includes/navigation-bar.pug
  canvas#myChart(class="canvas")

script.
  var voteResults = !{JSON.stringify(voteResults)}
  console.log(voteResults)
  var xValues = [...voteResults.voteId.choices];
  var yValues = [...voteResults.voteCount, ];
  var barColors = ["violet", "pink","cyan"];
  new Chart("myChart", {  
  type: "pie",
  data: {
  labels: xValues,
  datasets: [{
  backgroundColor: barColors,
  data: yValues
  }]
  },
  options: {
  legend: {display: false},
  title: {
  display: true,
  text: voteResults.voteId.title
  }
  }
  });
