include ../../includes/admin/admin-head.pug

.container-scroller
  include ../../includes/admin/admin-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/admin/admin-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title Vote History
                .table-responsive
                  each vote in votes
                    table.table.table-striped
                      thead
                        tr
                          th Name
                          th Title
                          th Voted for
                          th Date
                        tbody
                          tr
                            td= userData.name
                            td= vote.voteDataId.title                               
                            td= vote.voteDataId.choices[vote.selectedVote]
                            td= vote.date

            



 
include ../../includes/admin/admin-scripts.pug