include ../../includes/admin/admin-head.pug

.container-scroller
  include ../../includes/admin/admin-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/admin/admin-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title Vote History
                .table-responsive
                if votes.length === 0
                 h4.dataMessage Vote History is empty
                else 
                  each vote, index in votes
                    table.table.table-striped
                      thead
                        tr
                          th Name
                          th Title
                          th Voted for
                          th Date
                        tbody
                          tr
                            td= vote.name
                            td= vote.data.vote[0].voteDataId.title                               
                            td= vote.data.vote[0].voteDataId.choices[vote.data.vote[0].selectedVote]
                            td= vote.data.vote[0].date

            



 
include ../../includes/admin/admin-scripts.pug