include ../../includes/profile/profile-head.pug

.container-scroller
  include ../../includes/profile/profile-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/profile/profile-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title Inquiry History
                .table-responsive
                if inquiries.length === 0
                  h4.dataMessage You have no Inquiries
                else
                  each inquiry in inquiries
                    table.table.table-striped
                      thead
                        tr
                          th Subject
                          th Message
                          th Date
                          th Status
                        tbody
                          tr
                            td= inquiry.subject                               
                            td= inquiry.message
                            td= inquiry.date
                            td= inquiry.status
            



 
include ../../includes/admin/admin-scripts.pug