include ../../includes/profile/profile-head.pug

.container-scroller
  include ../../includes/profile/profile-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/profile/profile-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title Schedule History
                .table-responsive
                if schedules.length === 0
                  h4.dataMessage You have no schedules  
                else            
                  each schedule in schedules                 
                    table.table.table-striped
                      thead
                        tr
                          th Service
                          th Location
                          th Date
                          th Status
                        tbody
                          tr
                            td= schedule.serviceId.title                            
                            td= schedule.serviceId.location  
                            td= schedule.date
                            td= schedule.status
            



 
include ../../includes/admin/admin-scripts.pug