include ../../includes/profile/profile-head.pug

.container-scroller
  include ../../includes/profile/profile-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/profile/profile-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title Vote History
                if votes.length === 0
                  h4.dataMessage You have no votes 
                else               
                .table-responsive
                  each vote in votes
                    table.table.table-striped
                      thead
                        tr
                          th Title
                          th Voted for
                          th Date
                          th Status
                        tbody
                          tr
                            td= vote.voteDataId.title                               
                            td= vote.voteDataId.choices[vote.selectedVote]
                            td= vote.date
                            td= vote.isClosed ? 'Closed' : 'Open'

            



 
include ../../includes/admin/admin-scripts.pug